.wrapper {
    margin-top: 50px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .card.bg {
        position: absolute;
        top: 50px;
        left: 50px;
        background-color: #333;
    }

    .card {
        width: 60%;
        height: 70vh;
        border-radius: 30px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.right {
    padding-right: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-weight: 400;
    }

    .sub {
        margin: 20px 0;
    }

    .description {
        font-weight: 300;
        &::first-letter {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

@media (max-width: 740px) {
    .left {
        margin: 20px 0 100px 0;
    }
    .right {
        padding-left: 50px;
    }
}
